<a href="https://colab.research.google.com/github/Hinakoushar-Tatakoti/Quantifying-the-influence-of-imputing-missing-values-Bike-Sharing-System/blob/main/BSS_Data_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Initial analysis of Bike sharing data
Data is been imported from Google big cloud open data
bigquery-public-data.new_york_citibike which contains 
1. citibike_stations informations
2. citibike_trips information

In [1]:
## Mount the google drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [5]:
path = "/content/drive/MyDrive/dataset/bike-sharing_2018-04-01.csv"
data = pd.read_csv(path)

In [6]:
data.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,...,eightd_has_key_dispenser,eightd_has_available_keys,num_bikes_available,num_docks_available,num_bikes_disabled,num_docks_disabled,is_renting,is_returning,is_installed,last_reported
0,875,2018-04-13 07:17:16.322,2018-04-13 07:31:52.213,332,Cherry St,40.712199,-73.979481,417,Barclay St & Church St,40.712912,...,False,False,25,8,3,0,True,True,True,2021-11-09 00:00:00
1,1630,2018-05-03 06:07:45.841,2018-05-03 06:34:56.596,332,Cherry St,40.712199,-73.979481,472,E 32 St & Park Ave,40.745712,...,False,False,25,8,3,0,True,True,True,2021-11-09 00:00:00
2,908,2018-04-22 09:18:35.645,2018-04-22 09:33:44.229,332,Cherry St,40.712199,-73.979481,311,Norfolk St & Broome St,40.717227,...,False,False,25,8,3,0,True,True,True,2021-11-09 00:00:00
3,1100,2018-04-11 17:01:19.363,2018-04-11 17:19:40.353,332,Cherry St,40.712199,-73.979481,3070,McKibbin St & Manhattan Ave,40.705109,...,False,False,25,8,3,0,True,True,True,2021-11-09 00:00:00
4,837,2018-05-15 11:27:08.220,2018-05-15 11:41:05.509,332,Cherry St,40.712199,-73.979481,320,Leonard St & Church St,40.717571,...,False,False,25,8,3,0,True,True,True,2021-11-09 00:00:00

In [7]:
data.describe()

,tripduration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,birth_year,customer_plan,station_id,region_id,capacity,num_bikes_available,num_docks_available,num_bikes_disabled,num_docks_disabled
count,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,0.0,2.624910e+06,2624910.0,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06,2.624910e+06
mean,1.072139e+03,1.544330e+03,4.073686e+01,-7.398245e+01,1.583527e+03,4.073664e+01,-7.398261e+01,2.622808e+04,1.978443e+03,NaN,1.544330e+03,71.0,4.255252e+01,2.354965e+01,1.640393e+01,2.039725e+00,7.090262e-01
std,2.283764e+04,1.420908e+03,3.120878e-02,1.936090e-02,1.434049e+03,3.082768e-02,1.926291e-02,5.815758e+03,1.185696e+01,NaN,1.420908e+03,0.0,1.879050e+01,1.918391e+01,1.672578e+01,2.970601e+00,4.674512e+00
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406860e+01,1.452900e+04,1.885000e+03,NaN,7.200000e+01,71.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.650000e+02,3.720000e+02,4.071723e+01,-7.399517e+01,3.800000e+02,4.071723e+01,-7.399530e+01,2.060100e+04,1.969000e+03,NaN,3.720000e+02,71.0,3.000000e+01,8.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00
50%,6.310000e+02,4.960000e+02,4.073650e+01,-7.398621e+01,5.050000e+02,4.073705e+01,-7.398565e+01,2.792900e+04,1.980000e+03,NaN,4.960000e+02,71.0,3.900000e+01,2.100000e+01,1.100000e+01,2.000000e+00,0.000000e+00
75%,1.118000e+03,3.177000e+03,4.075971e+01,-7.397188e+01,3.236000e+03,4.075757e+01,-7.397208e+01,3.109100e+04,1.988000e+03,NaN,3.177000e+03,71.0,5.400000e+01,3.400000e+01,2.700000e+01,3.000000e+00,0.000000e+00
max,1.028368e+07,3.686000e+03,4.081439e+01,-7.390774e+01,3.686000e+03,4.081439e+01,-7.390774e+01,3.369000e+04,2.002000e+03,NaN,3.686000e+03,71.0,9.100000e+01,7.900000e+01,7.700000e+01,5.700000e+01,4.300000e+01

In [8]:
data.count()

tripduration                 2624910
starttime                    2624910
stoptime                     2624910
start_station_id             2624910
start_station_name           2624910
start_station_latitude       2624910
start_station_longitude      2624910
end_station_id               2624910
end_station_name             2624910
end_station_latitude         2624910
end_station_longitude        2624910
bikeid                       2624910
usertype                     2624910
birth_year                   2624910
gender                       2624910
customer_plan                      0
station_id                   2624910
region_id                    2624910
rental_methods               2624910
capacity                     2624910
eightd_has_key_dispenser     2624910
eightd_has_available_keys    2624910
num_bikes_available          2624910
num_docks_available          2624910
num_bikes_disabled           2624910
num_docks_disabled           2624910
is_renting                   2624910
is_returning                 2624910
is_installed                 2624910
last_reported                2624910
dtype: int64