<a href="https://colab.research.google.com/github/Hinakoushar-Tatakoti/Quantifying-the-influence-of-imputing-missing-values-Bike-Sharing-System/blob/main/citi_bike_data_preprocessingipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CitiBike data is collected for 1 year 2018
https://ride.citibikenyc.com/system-data

Data Schema:
Trip Duration (seconds)

*   Start Time and Date
*   Stop Time and Date
*   Start Station Name
*   End Station Name
*   Station ID
*   Station Lat/Long
*   Bike ID
*   User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual    Member)
*   Gender (Zero=unknown; 1=male; 2=female)
*   Year of Birth
*   name
*   Short name
*

In [1]:
import pandas as pd

In [5]:
tripdata = pd.read_csv("/content/JC-201801-citibike-tripdata.csv")
tripdata.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
5,613,2018-01-01 22:05:05.8740,2018-01-01 22:15:19.4190,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,31859,Subscriber,1982,1
6,290,2018-01-02 12:13:51.7940,2018-01-02 12:18:42.1070,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31694,Subscriber,1958,1
7,381,2018-01-02 12:50:03.3430,2018-01-02 12:56:24.6440,3183,Exchange Place,40.716247,-74.033459,3205,JC Medical Center,40.716540,-74.049638,31754,Subscriber,1989,2
8,318,2018-01-02 13:55:58.2430,2018-01-02 14:01:16.8810,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,31816,Subscriber,1960,1
9,1852,2018-01-02 16:55:29.6390,2018-01-02 17:26:22.3050,3183,Exchange Place,40.716247,-74.033459,3281,Leonard Gordon Park,40.745910,-74.057271,31754,Subscriber,1976,1

In [17]:
tripdata.count()

tripduration               12677
starttime                  12677
stoptime                   12677
station_id                 12677
start station name         12677
start station latitude     12677
start station longitude    12677
end station id             12677
end station name           12677
end station latitude       12677
end station longitude      12677
bikeid                     12677
usertype                   12677
birth year                 12677
gender                     12677
dtype: int64

In [35]:
tripdata.drop_duplicates()

,tripduration,starttime,stoptime,station_id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12672,247,2018-01-31 11:03:59.1750,2018-01-31 11:08:07.0570,3640,Journal Square,40.733670,-74.062500,3201,Dey St,40.737711,-74.066921,31828,Subscriber,1962,1
12673,806,2018-01-31 15:34:36.8370,2018-01-31 15:48:03.0280,3640,Journal Square,40.733670,-74.062500,3211,Newark Ave,40.721525,-74.046305,31842,Subscriber,1987,1
12674,1499,2018-01-31 15:45:09.8000,2018-01-31 16:10:09.4400,3640,Journal Square,40.733670,-74.062500,3640,Journal Square,40.733670,-74.062500,29622,Subscriber,1981,1
12675,291,2018-01-31 16:54:11.9480,2018-01-31 16:59:03.5760,3640,Journal Square,40.733670,-74.062500,3201,Dey St,40.737711,-74.066921,29622,Subscriber,1963,1
12676,383,2018-01-31 18:34:50.2950,2018-01-31 18:41:13.7530,3640,Journal Square,40.733670,-74.062500,3194,McGinley Square,40.725340,-74.067622,31690,Subscriber,1989,1

In [12]:
tripdata = tripdata.rename(columns={"start station id": "station_id"})
tripdata.head(2)

,tripduration,starttime,stoptime,station_id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2

In [13]:
stations_data = pd.read_csv("/content/citibike-stations.csv")
stations_data.head(2)

,station_id,name,short_name,latitude,longitude,region_id,rental_methods,capacity,eightd_has_key_dispenser,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,is_installed,is_renting,is_returning,eightd_has_available_keys,last_reported
0,268,Howard St & Lafayette St,5422.04,40.719105,-73.999733,71,"CREDITCARD, KEY",0,False,0,0,0,0,False,False,False,False,1970-01-02T00:00:00
1,284,Greenwich Ave & 8 Ave,6072.06,40.739017,-74.002638,71,"CREDITCARD, KEY",0,False,0,0,0,0,False,False,False,False,1970-01-02T00:00:00

In [19]:
stations_data.isnull().sum()

station_id                   0
name                         0
short_name                   0
latitude                     0
longitude                    0
region_id                    0
rental_methods               0
capacity                     0
eightd_has_key_dispenser     0
num_bikes_available          0
num_bikes_disabled           0
num_docks_available          0
num_docks_disabled           0
is_installed                 0
is_renting                   0
is_returning                 0
eightd_has_available_keys    0
last_reported                0
dtype: int64

In [26]:
df = pd.merge(tripdata,stations_data, on="station_id", how="left")

In [27]:
df.head(2)

,tripduration,starttime,stoptime,station_id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,eightd_has_key_dispenser,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,is_installed,is_renting,is_returning,eightd_has_available_keys,last_reported
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.count()

tripduration                 12677
starttime                    12677
stoptime                     12677
station_id                   12677
start station name           12677
start station latitude       12677
start station longitude      12677
end station id               12677
end station name             12677
end station latitude         12677
end station longitude        12677
bikeid                       12677
usertype                     12677
birth year                   12677
gender                       12677
name                         10737
short_name                   10737
latitude                     10737
longitude                    10737
region_id                    10737
rental_methods               10737
capacity                     10737
eightd_has_key_dispenser     10737
num_bikes_available          10737
num_bikes_disabled           10737
num_docks_available          10737
num_docks_disabled           10737
is_installed                 10737
is_renting                   10737
is_returning                 10737
eightd_has_available_keys    10737
last_reported                10737
dtype: int64

In [28]:
df.isnull().sum()

tripduration                    0
starttime                       0
stoptime                        0
station_id                      0
start station name              0
start station latitude          0
start station longitude         0
end station id                  0
end station name                0
end station latitude            0
end station longitude           0
bikeid                          0
usertype                        0
birth year                      0
gender                          0
name                         1940
short_name                   1940
latitude                     1940
longitude                    1940
region_id                    1940
rental_methods               1940
capacity                     1940
eightd_has_key_dispenser     1940
num_bikes_available          1940
num_bikes_disabled           1940
num_docks_available          1940
num_docks_disabled           1940
is_installed                 1940
is_renting                   1940
is_returning                 1940
eightd_has_available_keys    1940
last_reported                1940
dtype: int64

In [33]:
na = df[df['name'].isna()]

In [34]:
na.groupby('station_id').count()

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,...,eightd_has_key_dispenser,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,is_installed,is_renting,is_returning,eightd_has_available_keys,last_reported
station_id,,,,,,,,,,,,,,,,,,,,,
3183,756,756,756,756,756,756,756,756,756,756,...,0,0,0,0,0,0,0,0,0,0
3188,13,13,13,13,13,13,13,13,13,13,...,0,0,0,0,0,0,0,0,0,0
3189,7,7,7,7,7,7,7,7,7,7,...,0,0,0,0,0,0,0,0,0,0
3190,26,26,26,26,26,26,26,26,26,26,...,0,0,0,0,0,0,0,0,0,0
3195,796,796,796,796,796,796,796,796,796,796,...,0,0,0,0,0,0,0,0,0,0
3200,7,7,7,7,7,7,7,7,7,7,...,0,0,0,0,0,0,0,0,0,0
3205,207,207,207,207,207,207,207,207,207,207,...,0,0,0,0,0,0,0,0,0,0
3216,3,3,3,3,3,3,3,3,3,3,...,0,0,0,0,0,0,0,0,0,0
3217,4,4,4,4,4,4,4,4,4,4,...,0,0,0,0,0,0,0,0,0,0
3271,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3274,2,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,0,0,0
3426,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3481,117,117,117,117,117,117,117,117,117,117,...,0,0,0,0,0,0,0,0,0,0